<div id="sidebar" class="h-full w-[20%] bg-slate-700 shadow-md rounded-lg flex flex-col p-4 gap-4">
    <button id="expand-sidebar-btn" title="Mở cài đặt" class="hidden text-white p-2 mx-auto rounded-lg hover:bg-slate-600">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
            <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z"
            />
            <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
        </svg>
    </button>

    <div id="sidebar-content-expanded" class="flex flex-col gap-4 h-full overflow-y-hidden">
        <span class="text-white text-lg font-bold">Cài đặt</span>

        <div class="overflow-y-auto flex flex-col gap-4 ">

            <div class="bg-blue-500/10 border border-blue-500 p-4 rounded-md">
                <div class="flex flex-col gap-2">
                    <label for="player1" class="text-white">Player 1</label>
                    <select id="player1" class="rounded bg-slate-800 p-2 text-white">
                        <option value="human" selected>Human</option>
                        <option value="agent">Agent</option>
                        <option value="random_agent">RandomChoiceAgent</option>
                    </select>
                </div>
    
                <div id="agent-config-1" class="flex flex-col gap-4">
                    <div class="flex flex-col gap-2">
                        <label for="model-select-1" class="text-white">Model</label>
                        <select id="model-select-1" class="rounded p-2 bg-slate-800 text-white"> </select>
                    </div>
    
                    <div class="flex flex-col gap-2">
                        <label for="temperature-1" class="text-white">Temperature</label>
    
                        <div class="flex items-center gap-2">
                            <input type="range" id="temperature-1" min="0" max="1.5" step="0.1" class="w-full" value="0.7" />
                            <input type="number" id="temperature-value-1" min="0" max="1.5" step="0.1" class="w-16 rounded text-white bg-transparent " value="0.7" />
                        </div>
                    </div>
    
                    <div class="flex flex-col gap-2">
                        <label for="max-tokens-1" class="text-white">Max Tokens</label>
    
                        <div class="flex items-center gap-2">
                            <input type="range" id="max-tokens-1" min="50" max="1000" step="1" class="w-full text-pink-500" value="500" />
                            <input type="number" id="max-tokens-value-1" min="50" max="1000" step="1" class="w-16 rounded bg-transparent text-white" value="500" disabled />
                        </div>
                    </div>
    
                    <div class="flex flex-col gap-2">
                        <label for="top-p-1" class="text-white">Top-p</label>
    
                        <div class="flex items-center gap-2">
                            <input type="range" id="top-p-1" min="0" max="1" step="0.1" class="w-full" value="1" />
    
                            <input type="number" id="top-p-value-1" min="0" max="1" step="0.1" class="w-16 rounded bg-transparent text-white" value="1" />
                        </div>
                    </div>
                    <div class="flex flex-col gap-2">
                        <label for="top-k-1" class="text-white">Top-k</label>
    
                        <div class="flex items-center gap-2">
                            <input type="range" id="top-k-1" min="1" max="50" step="1" class="w-full" value="40" />
    
                            <input type="number" id="top-k-value-1" min="1" max="50" step="1" class="w-16 rounded bg-transparent text-white" value="40" />
                        </div>
                    </div>
                    <div class="flex flex-col gap-2">
                        <label for="mem-size-1" class="text-white">Mem size</label>
    
                        <div class="flex items-center gap-2">
                            <input type="range" id="mem-size-1" min="1" max="6" step="1" class="w-full" value="5" />
    
                            <input type="number" id="mem-size-value-1" min="1" max="6" step="1" class="w-16 rounded bg-transparent text-white" value="5" />
                        </div>
                    </div>
                    <div class="sidebar-section">
                        <h3 class="text-white">Chọn Persona cho Agent</h3>
                        <div class="persona-selection flex flex-col gap-2">
                            <label class="text-white">
                                <input type="radio" name="persona-player1" value="ATTACK" checked>
                                Tấn công tổng lực
                            </label>
                            <label class="text-white">
                                <input type="radio" name="persona-player1" value="DEFENSE">
                                Phòng thủ cẩn trọng
                            </label>
                            <label class="text-white">
                                <input type="radio" name="persona-player1" value="BALANCE">
                                Cân bằng công thủ
                            </label>
                            <label class="text-white">
                                <input type="radio" name="persona-player1" value="STRATEGIC">
                                Chiến thuật gia
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="bg-pink-500/10 border border-pink-500 p-4 rounded-md">
                <div class="flex flex-col gap-2">
                    <label for="player2" class="text-white">Player 2</label>
                    <select id="player2" class="rounded p-2 bg-slate-800 text-white">
                        <option value="human" selected>Human</option>
                        <option value="agent">Agent</option>
                        <option value="random_agent">RandomChoiceAgent</option>
                    </select>
                </div>

                <div id="agent-config-2" class="flex flex-col gap-4">
                    <div class="flex flex-col gap-2">
                        <label for="model-select-2" class="text-white">Model</label>

                        <select id="model-select-2" class="rounded p-2 bg-slate-800 text-white"> </select>
                    </div>

                    <div class="flex flex-col gap-2">
                        <label for="temperature-2" class="text-white">Temperature</label>

                        <div class="flex items-center gap-2">
                            <input type="range" id="temperature-2" min="0" max="1.5" step="0.1" class="w-full" value="0.7" />

                            <input type="number" id="temperature-value-2" min="0" max="1.5" step="0.1" class="w-16 rounded bg-transparent text-white" value="0.7" />
                        </div>
                    </div>

                    <div class="flex flex-col gap-2">
                        <label for="max-tokens-2" class="text-white">Max Tokens</label>

                        <div class="flex items-center gap-2">
                            <input type="range" id="max-tokens-2" min="50" max="1000" step="1" class="w-full" value="500" />

                            <input type="number" id="max-tokens-value-2" min="50" max="1000" step="1" class="w-16 rounded bg-transparent text-white" value="500" />
                        </div>
                    </div>

                    <div class="flex flex-col gap-2">
                        <label for="top-p-2" class="text-white">Top-p</label>

                        <div class="flex items-center gap-2">
                            <input type="range" id="top-p-2" min="0" max="1" step="0.1" class="w-full" value="1" />

                            <input type="number" id="top-p-value-2" min="0" max="1" step="0.1" class="w-16 rounded bg-transparent text-white" value="1" />
                        </div>
                    </div>
                    <div class="flex flex-col gap-2">
                        <label for="top-k-2" class="text-white">Top-k</label>

                        <div class="flex items-center gap-2">
                            <input type="range" id="top-k-2" min="1" max="50" step="1" class="w-full" value="40" />

                            <input type="number" id="top-k-value-2" min="1" max="50" step="1" class="w-16 rounded bg-transparent text-white" value="40" />
                        </div>
                    </div>
                    <div class="flex flex-col gap-2">
                        <label for="mem-size-2" class="text-white">Mem size</label>
    
                        <div class="flex items-center gap-2">
                            <input type="range" id="mem-size-2" min="1" max="6" step="1" class="w-full" value="5" />
    
                            <input type="number" id="mem-size-value-2" min="1" max="6" step="1" class="w-16 rounded bg-transparent text-white" value="5" />
                        </div>
                    </div>
                    <div class="sidebar-section">
                        <h3 class="text-white">Chọn Persona cho Agent</h3>
                        <div class="persona-selection flex flex-col gap-2">
                            <label class="text-white">
                                <input type="radio" name="persona-player2" value="ATTACK">
                                Tấn công tổng lực
                            </label>
                            <label class="text-white">
                                <input type="radio" name="persona-player2" value="DEFENSE">
                                Phòng thủ cẩn trọng
                            </label>
                            <label class="text-white">
                                <input type="radio" name="persona-player2" value="BALANCE" checked>
                                Cân bằng công thủ
                            </label>
                            <label class="text-white">
                                <input type="radio" name="persona-player2" value="STRATEGIC">
                                Chiến thuật gia
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <hr />

        <div class="flex flex-col gap-2">
            <span class="text-white text-lg font-bold">Luật mở rộng</span>

            <div class="overflow-y-auto flex flex-col gap-4 pr-4">
                <div class="flex items-start gap-2">
                    <input type="checkbox" id="rule-e1" class="mt-1" checked />

                    <label for="rule-e1" class="text-white text-sm">
                        <span class="font-bold">E1 - Luật Quan Non.</span>
                    </label>
                </div>

                <div class="flex items-start gap-2">
                    <input type="checkbox" id="rule-e2" class="mt-1" checked />

                    <label for="rule-e2" class="text-white text-sm">
                        <span class="font-bold">E2 - Rải quân mở rộng.</span>
                    </label>
                </div>

                <div class="flex items-start gap-2">
                    <input type="checkbox" id="rule-e3" class="mt-1" checked />

                    <label for="rule-e3" class="text-white text-sm">
                        <span class="font-bold">E3 - Ràng buộc đầu game.</span>
                    </label>
                </div>

                <div class="flex items-start gap-2">
                    <input type="checkbox" id="rule-e4" class="mt-1" checked />

                    <label for="rule-e4" class="text-white text-sm">
                        <span class="font-bold">E4 - 2 ô trống.</span>
                    </label>
                </div>

                <div class="flex items-start gap-2">
                    <input type="checkbox" id="rule-e5" class="mt-1" checked />

                    <label for="rule-e5" class="text-white text-sm">
                        <span class="font-bold">E5 - Ăn quân mở rộng.</span>
                    </label>
                </div>
            </div>
        </div>

        <button id="apply-config"
        class="relative bg-gradient-to-r from-purple-300 via-blue-500 to-purple-300 
                text-white font-semibold py-2 px-6 rounded shadow-lg border-2
                transition-all duration-300 ease-in-out
                hover:shadow-2xl hover:border-blue-300
                active:scale-95">
        Thiết lập trò chơi
        </button>
    </div>
</div>
